<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Lcasp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="LCASP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lcasp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Lcasp.Properties.Settings.lcasp_dataConnectionString"
            connectionString="server=localhost;user id=lcasp;password=archery;persistsecurityinfo=True;database=lcasp_data;Max Pool Size=1000"
            providerName="MySql.Data.MySqlClient" />
        <add name="Lcasp.Properties.Settings.SqlServerExpress" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=LCASP;Integrated Security=True;Max Pool Size=1000"
            providerName="System.Data.SqlClient" />
        <add name="Lcasp.Properties.Settings.SqlServerExpressMaster"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<applicationSettings>
        <Lcasp.Properties.Settings>
                <setting name="PrintDialog" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="DataVersion" serializeAs="String">
                        <value>16</value>
                </setting>
        </Lcasp.Properties.Settings>
        <LCASP.Properties.Settings>
            <setting name="COM" serializeAs="String">
                <value>COM2</value>
            </setting>
            <setting name="PrintDialog" serializeAs="String">
                <value>False</value>
            </setting>
        </LCASP.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Lcasp.Properties.Settings>
            <setting name="COM" serializeAs="String">
                <value />
            </setting>
            <setting name="HoroAdjust" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerticalAdjust" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProjectScores" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DatabaseBackup" serializeAs="String">
                <value>c:/DatabaseBackup/</value>
            </setting>
        </Lcasp.Properties.Settings>
    </userSettings>
</configuration>