<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LCASP.Properties.Settings.lcasp_dataConnectionString"
            connectionString="server=localhost;user id=lcasp;password=archery;persistsecurityinfo=True;database=lcasp_data"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.data>

  </system.data></configuration>