USE [master]
GO
/****** Object:  Database [LCASP]    Script Date: 10/11/2017 10:06:57 PM ******/
CREATE DATABASE [LCASP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LCASP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LCASP.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LCASP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LCASP.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LCASP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LCASP]
GO
/****** Object:  Table [dbo].[archer_data]    Script Date: 10/11/2017 10:06:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[archer_data](
	[archer_data_id] [int] IDENTITY(1,3) NOT NULL,
	[archer_id] [int] NULL,
	[archer_raw_data] [varchar](600) NOT NULL,
	[archer_score] [int] NOT NULL,
	[archer_tens] [int] NOT NULL,
	[archer_nines] [int] NOT NULL,
	[archer_eights] [int] NOT NULL,
	[archer_sevens] [int] NOT NULL,
	[archer_sixes] [int] NOT NULL,
	[archer_fives] [int] NOT NULL,
	[archer_fours] [int] NOT NULL,
	[archer_threes] [int] NOT NULL,
	[archer_twos] [int] NOT NULL,
	[archer_ones] [int] NOT NULL,
	[archer_zeros] [int] NOT NULL,
	[archer_end_1] [int] NOT NULL,
	[archer_end_2] [int] NOT NULL,
	[archer_end_3] [int] NOT NULL,
	[archer_end_4] [int] NOT NULL,
	[archer_end_5] [int] NOT NULL,
	[archer_end_6] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[archer_data_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[archers]    Script Date: 10/11/2017 10:06:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[archers](
	[archer_id] [int] IDENTITY(1,3) NOT NULL,
	[school_id] [int] NOT NULL,
	[archer_name] [varchar](250) NOT NULL,
	[archer_sex] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[archer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schools]    Script Date: 10/11/2017 10:06:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schools](
	[school_id] [int] IDENTITY(1,3) NOT NULL,
	[school_name] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[school_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[archer_data]  WITH CHECK ADD  CONSTRAINT [FK_archer_data_ToTable] FOREIGN KEY([archer_id])
REFERENCES [dbo].[archers] ([archer_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[archer_data] CHECK CONSTRAINT [FK_archer_data_ToTable]
GO
ALTER TABLE [dbo].[archers]  WITH CHECK ADD  CONSTRAINT [FK_archers_ToTable] FOREIGN KEY([school_id])
REFERENCES [dbo].[schools] ([school_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[archers] CHECK CONSTRAINT [FK_archers_ToTable]
GO
USE [master]
GO
